<ion-view view-title="Biologia">
  <ion-content class="padding">
    <center> <h2>BIENVENIDOS</h2>
    <img class="P"  src="img/portada.png">
    <p>integrantes</p>
    <h3>ASTRID YULEISY GOMEZ PUAC </h3> <img class="img"  src="img/001.jpg">
    <h4>MILDRED STEPHANY LIMA TAMBITO</h4> <img class="img"  src="img/02.jpg">
    <h5>EDWIN ALESSANDRO DONIS FUENTES</h5>
    <img class="img"  src="img/01.jpg">
    <h6>EDSON NEHEMIAS LUX MORALES </h6>
    <img class="img"  src="img/03.jpg">
    <h7>PABLO OTTONIEL MONTERROSO HERNÁNDEZ </h7>
    <img class="img"  src="img/05.jpeg"></center>


    
 


		<center><h1>ADN</h1>

		<img class="c"  src="img/adn.jpg">
		<img class="c"  src="img/0000.gif">
	<img class="c"  src="img/doble.png">
		<h1>Ácido desoxirribonucleico

Situación del ADN dentro de una célula eucariota

Animación de parte de una estructura de ADN de doble hélice
El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria. La función principal de la molécula de ADN es el almacenamiento a largo plazo de información para construir otros componentes de las células, como las proteínas y las moléculas de ARN. Los segmentos de ADN que llevan esta información genética son llamados genes, pero las otras secuencias de ADN tienen propósitos estructurales o toman parte en la regulación del uso de esta información genética.</h1></center>




		
	  </ion-content>
</ion-view>













                                                                                                ///astrid yuleisy gomez puac